<h1>Doctors</h1>
<hr/>
<h2><%= @doctors.length <= 0 ? "No Doctors" : "" %></h2>
<ul class="ui middle aligned animated list">
    <% @doctors.each do |doctor| %>
        <div class="item">
        <li>
        <div class="header">
            <%= link_to doctor.name, doctor_path(doctor) %>
            </div>
        </li>
        </div>
    <% end %>
</ul>



